.main_section {
  height: 80vh;
  /* border: 5px solid red; */
}
.container {
  max-width: 1300px;
  margin: 0 auto;
}
.hero_div {
  max-width: 1300px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  border: 5px solid rgb(0, 0, 0);
}

.tagline {
  font-size: 35px;
  width: 700px;
  margin-top: 150px;
  position: relative;
  animation: inanimation 0.6s ease-in;
}
.tagline span {
  color: #fd5e3b;
}
.tagline::before {
  content: "";
  position: absolute;
  background: #fab000;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}
.tagline:hover:before {
  width: 71%;
}
.about {
  font-size: 18px;
  font-weight: 600;
  width: 700px;
  margin-top: 50px;
  margin-bottom: 50px;
  animation: inanimation 0.6s ease-in;
}

.btn {
  padding: 17px 28px;
  border-radius: 15px;
  border: none;
  background-color: #fd5e3b;
  font-weight: 600;
  color: white;
  font-size: 20px;
  transition: all 0.3s ease;
}
.btn:hover {
  background-color: #ff2f00;
}
.right_div {
  /* border: 1px solid red; */
  height: 500px;
  width: 600px;
}

.background {
  width: 400px;
  background-color: #fd5e3b;
  box-shadow: rgba(0, 0, 0, 0.28) 0px 10px 15px 10px;
  height: 520px;
  border-radius: 40px 40px 15px 15px;
  position: absolute;
  right: 10%;
  top: 10%;
  z-index: 1;
}

.hero_img {
  position: absolute;
  left: 50%;
  bottom: 15%;
  z-index: 13;
  animation: outanimation 0.7s ease-in;
}

.shadow {
  position: absolute;
  width: 640.11px;
  height: 88px;
  bottom: 25px;
  right: -33px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: blur(-7px);
  transform: rotate(343deg);
  z-index: -10;
}

@keyframes inanimation {
  0% {
    transform: translateX(-50px);
  }

  100% {
    transform: translateX(0px);
  }
}

@keyframes outanimation {
  0% {
    transform: translateX(120px);
  }

  100% {
    transform: translateX(0px);
  }
}

/* works section */
.works_section {
  height: 80vh;
  margin-bottom: 2rem;
}

.main_div {
  height: 300px;
  margin: 0 auto;
}

.sub_heading {
  text-transform: uppercase;
  text-align: center;
  color: rgb(139, 139, 139);
}

.main_heading {
  text-align: center;
  font-size: 22px;
  margin: 0 auto;
  margin-bottom: 80px;
  position: relative;
}
.underline::before {
  content: "";
  position: absolute;
  background: #fab000;
  width: 0;
  height: 5px;
  bottom: 0;
  left: 30%;

  transition: 0.3s ease;
}
.underline:hover:before {
  width: 40%;
}
.steps_main {
  display: flex;
  justify-content: center;
  justify-content: space-evenly;
  margin-top: 8rem;
}

.steps_cards {
  display: flex;
  flex-direction: column;
  position: relative;
  align-items: center;
  width: 255px;
  text-align: center;
}
.cards_logo {
  transition: 0.3s ease;
}
.cards_logo:hover {
  transform: scale(1.2);
}

.arrow {
  position: absolute;
  left: 80%;
  top: 10%;
}

/* services main  */
.services_main {
  height: 90vh;
  margin: 0 auto;
}

.inner_services {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.services_info {
  width: 450px;
}

.services_heading h2 {
  text-align: start;
  margin-top: 2rem;
  font-size: 30px;
  font-weight: 900;
}

.services_info p {
  text-align: start;
}

.services_img {
  transform: rotate(357deg);
  animation: slidein 0.5s ease-in-out;
}

@keyframes slidein {
  0% {
    transform: translate(-50px);
  }

  100% {
    transform: translate(0px);
  }
}

.Bike_shadow {
  position: absolute;
  width: 686px;
  height: 51px;
  bottom: 25px;
  right: 6%;
  z-index: -100;
  background: radial-gradient(
    50% 50% at 50% 50%,
    #000000 0%,
    rgba(0, 0, 0, 0) 100%
  );
  transform: rotate(3deg);
}
.text_box {
  width: 400px;
  height: 450px;
  /* border: 2px solid red; */
  animation: outanimation 0.4s ease-in;
}
.inner_box {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* border: 1px solid black; */
  gap: 20px;
}

/* download section footer */

.Download_section {
  min-height: 70vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10rem;
  margin-bottom: 5rem;
  /* border: 3px solid red; */
}
.Download_main {
  height: 400px;
  width: 1300px;
  background-color: #fe6240;
  border-radius: 30px;
  /* border: 3px solid rgb(0, 0, 0); */
  box-shadow: rgba(0, 0, 0, 0.28) 0px 10px 15px 10px;
 display: flex;
 justify-content: center;
 align-items: center;
}
.Download_card {
  width: 80%;
  height: 80%;
  /* border: 3px solid rgb(7, 62, 241); */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.text_info{
  /* border: 1px solid black; */
  width: 400px;
}
.main_text{
  font-size: 35px;
  color: white;
  font-weight: 500;
  margin-bottom:20px;
}
.sub_text{
  color: white;
  font-size: 17px;
  font-weight: 300;
  margin-bottom: 50px;
}
.download_btn{
  display: flex;
  justify-content: space-around;
  align-items:center;
}
.apple_download{
  color: rgb(0, 0, 0);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 6px;
  gap: 5px;
  height: 50px;
  width: 160px;
  
}
.google_download{
  color: rgb(0, 0, 0);
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 8px;
  display: flex;
  align-items: center;
  border-radius: 10px;
  padding: 5px 6px;
  gap: 5px;
  height: 50px;
  width: 160px;
}
.apple_sub p{
 font-size: 13px; 
 font-weight: 500; 
 margin: 2px;
}
.apple_sub h4{
 font-size: 14px; 
 font-weight: 700; 
 margin: 2px;
}
.google_sub p{
 font-size: 13px; 
 font-weight: 500; 
 margin: 2px;
}
.google_sub h4{
 font-size: 14px; 
 font-weight: 700; 
 margin: 2px;
}
.mobile_module{
  box-shadow: rgba(0, 0, 0, 0.38) 0px 3px 8px;
  border-radius: 30px;
  margin-right: 10px;
padding-right: 15px;
}
