.ownerupload {
  height: 90vh;
  border: 2px solid black;
  margin-top: 4.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.owner_uploadmain {
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #dddddd;
  border-radius: 23px;
}

.Upload_bike button {
  padding: 10px 36px;
  color: white;
  background-color: #ff3f5b;
  border: none;
  border-radius: 51px;
  margin-top: 20px;
  cursor: pointer;
}
.upload_card {
  /* border: 1px solid red; */
  width: 60%;
  height: 100%;
}
.owner_heading {
  font-size: 45px;
  text-align: center;
  font-weight: 700;
  color: #ff3f5b;
}

.Bikes_details {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
form .Bikes_details .input_pox {
  margin-bottom: 15px;
  margin: 20px 0 12px 0;
  width: calc(100% / 2 - 20px);
}
.Bikes_details .input_pox .datails {
  display: block;
  font-weight: 500;
  margin-bottom: 5px;
}
.Bikes_details .input_pox input {
  width: 90%;
  height: 30px;
  padding: 8px 9px;
  display: block;
  border: none;
  outline: none;
  background-color: #c0dbea;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  margin-top: 10px;
  text-align: start;
}
.input_pox select {
  background-color: #c0dbea;
  width: 100%;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  height: 50px;
  font-size: 17px;
  font-weight: 500;
}
.input_pox select option {
  background-color: #ffffff;
  width: 100%;
  padding: 10px 20px;
  border: none;
  height: 50px;
  font-size: 18px;
  font-weight: 500;
  color: rgb(0, 0, 0);
}
.upload_btn {
  margin: 0 auto;
}
.upload_btn button {
  border-radius: 15px;
  padding: 14px 16px;
  border: none;
  background-color: #ff3f5b;
  color: white;
  font-weight: 700;
  font-size: 18px;
  margin-top: 50px;
}
