.card {
    width: 278px;
    height: 300px;
    background: #ffff;
    box-shadow: 0 1px 25px rgba(0, 0, 0, 0.2);
    position: absolute;
    transform: translate(-50%, -50%);
    top: 50%;
    left: 50%;
  }
  
  .card_load_image {
    width: 278px;
    height: 155px;
    position: relative;
    top: 0%;
    border-radius: 20px 20px 0px 0px;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    animation: load89234 2s infinite;
  }
  
  .card_load_title {
    width: 278px;
    height: 50px;
    position: relative;
    top: 3%;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    animation: load89234 2s infinite;
  }
  
  .card_load_btn {
    padding: 20px 60px;
    width: 30%;
    margin: 0 auto;
    border-radius: 30px;
    position: relative;
    top: 7%;
    background: linear-gradient(120deg, #e5e5e5 30%, #f0f0f0 38%, #f0f0f0 40%, #e5e5e5 48%);
    background-size: 200% 100%;
    animation: load89234 2s infinite;
  }
  
  @keyframes load89234 {
    0% {
      background-position: 0 0;
    }
    100% {
      background-position: -200% 0;
    }
  }
  