.main {
  height: 85vh;
  max-width: 1300px;
  margin: 0 auto;
  margin-top: 5rem;
  /* border: 3px solid red; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.main_page {
  height: 80%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.login_side {
  width: 40%;
  display: flex;
  flex-direction: column;
  /* border: 4px solid rgb(255, 0, 0); */
}
.tag {
  text-align: left;
  font-weight: 200;
}
.main_info {
  font-size: 38px;
  color: #fd5e3b;
  font-weight: 700;
  margin: 0px 0px 15px 0px;
}
.input_tag {
  width: 80%;
  padding: 10px 9px;
  display: block;
  border: none;
  outline: none;
  background-color: #c0dbea;
  border-radius: 5px;
  font-size: 15px;
  font-family: inherit;
  margin-top: 10px;
}
.password_input {
  position: relative;
  margin-bottom: 20px;
}
.eye_icon,
.eye_slash_icon {
  font-size: 20px;
  position: absolute;
  z-index: 9999;
  right: 6.5rem;
  cursor: pointer;
  top: 0.68rem;
}

.background_div {
  width: 400px;
  background-color: #fd5e3b;
  height: 520px;
  border-radius: 40px 40px 15px 15px;
  position: absolute;
  right: 10%;
  top: 12%;
  z-index: 1;
}
.image_bike {
  position: absolute;
  right: 0%;
  animation: in_bike 0.7s ease-in-out;
}
.shadow {
    position: absolute;
    width: 743.11px;
    height: 43px;
    bottom: 59px;
    right: -33px;
    background: radial-gradient( 50% 50% at 50% 50%, #000000 0%, rgba(0, 0, 0, 0) 100% );
    filter: blur(-7px);
    transform: rotate(179deg);
    z-index: -10;
}
@keyframes in_bike{
  0%{
      transform: translateX(100px);
  }
  100%{
    transform: translateX(0px);
  }
}
.login_button{
    padding: 12px 14px;
    margin: 12px 18px 15px 50px;
    background-color: #fd5e3b;
    border-radius:23px;
    border: none;
    color: white;
    font-size: 17px;
    font-weight: 600;   
    cursor: pointer;
 }
 .info{
    /* border: 1px solid red; */
    text-align: center;
    font-weight: 200;
    color: #74c1ee;
    width: 80%;
}
.login_google{
    padding: 20px 66px;
    border: 1px solid rgb(0, 0, 0);
    border-radius: 40px;
    text-decoration: none;
    color: black;
    margin-left: 30px;
    margin-top: 10px;
    font-weight: 200;
    color: #818181;
}
.logo{
   position: relative;
   left: 17%;
   top: 30%;
   z-index: 999;
   
}

.end{
display: flex;
justify-content: space-between;
align-items: center;
width: 80%;
margin-top: 26px;

}
.end p{
  text-align: center;
  font-size: 20px;
  font-weight: 300;
}

.signup_btn{
  text-decoration: none;
  color:#7abee2;
}
