.bike_section {
  width: 100%;
}
.bike_banner {
  position: relative;
  display: grid;
  place-items: center;
  right: 9%;
  margin-top: 40px;
}

.right_tag {
  position: absolute;
  top: 30%;
  right: 10%;
  font-size: 40px;
  font-weight: 700;
  color: white;
}
.tab_box {
  width: 30%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 2rem;
  align-items: center;
  border-bottom: 3px solid #e1e1e1;
}
.left_tag {
  position: absolute;
  top: 30%;
  left: 15%;
  font-size: 40px;
  font-weight: 700;
  color: white;
  text-transform: uppercase;
}

.bike_section {
  width: 1100px;
  margin: 0 auto;
}
.tab_btn {
  padding: 10px 12px;
  border: none;
  background: none;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  position: relative;
  margin: 5px;
}

.tab_btn::after {
  content: "";
  position: absolute;
  background: #e07c18;
  width: 0;
  height: 4px;
  bottom: 0;
  left: 0;
  transition: width 0.3s ease;
}

.tab_btn.active::after {
  width: 100%;
}

.content_box {
  padding: 20px;
  border: 2px solid red;
  display: flex;
  align-items: center;
  border: 5px solid rgb(0, 0, 0);
  display: none;
}
.show_content {
  display: inline;
}
.Bike_card {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 53px;
  margin-top: 40px;
  margin-bottom: 40px;
}
.content-card {
  display: none;
  width: 300px;
  height: 320px;
  border-radius: 25px;
  background-color: #e1e1e1;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  overflow: hidden;
}
.image_box {
  /* border: 1px solid red; */
  height: 160px;
  width: 300px;
  overflow: hidden;
}
.image_box .Image_Card {
  border-radius: 25px 25px 0px 0px;
  /* transform: scale(1.1); */
  transition: 0.3s all ease;
}
.image_box .Image_Card:hover {
  transform: scale(1.2); /* Adjust the desired hover effect */
}
.info_tag {
  display: flex;
  gap: 3rem;
  align-items: center;
  margin-top: 10px;
  justify-content: space-evenly;
  font-size: 18px;
  font-weight: 700;
  width: 100%;
}
.bike_rate {
  color: red;
}
.bike_used {
  font-weight: 500;
  padding: 5px;
  border: 1px solid red;
  display: flex;
  justify-content: space-between;
  width: 50%;
}
.per_hour {
  display: flex;
  justify-content: space-between;
}
.add_btn {
  font-size: 20px;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border-color: #3b66ff;
}
.Book_ride {
  padding: 12px 22px;
  color: white;
  border-radius: 25px;
  background-color: red;
  margin: 15px;
}
